.cart h3,h5{
text-align: center;
}

.cart{
    position: sticky;
    top: 0;
}
.cart-clac p{
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 10px;
}

.cart-clac h4{
    display: grid;
  grid-template-columns: 2fr 1fr;
}